@media print {
		body{
			
  -webkit-print-color-adjust:exact;
}	
#header,#menu,.ui-tabs-nav{display:none;}	

.csw{ display:none;}

td{ font-size:20px;}
#clientsu,.middle12{ display:none;}
.border{ float:left;}
.sprog{height:500px; width:1000px; margin-left:10px; float:left;  }
.sdet{height:150px; width:1000px;  float:left; font-size:15px; }
#middle{background-color:#fff;}
form{display:none;}
.scroll{overflow:visible;}
}
